{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
<div class="title">
    <h1>The Wildest Match </h1>
</div>
    <div class="timerContainer"><p id='timer'></p></div>
    <div class="questionReponsePlayer">
        <div class="questionRandomPlayer">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card-body" id="cardBodyPlayer">
                        <h5 class="card-header">Question </h5>
                        <p class="card-text">{{ question.title }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="reponseChoice">
            <div class="list-group">
                {% for answer in randAnswers %}
                    <a href="{{ path('player_result', {userId:app.user.id, questionId:question.id, answerId:answer.id}) }}" id="playerAnswer" class="list-group-item list-group-item-action">{{ answer.title }}</a>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script>
    const myMusic = new sound("/build/sounds/music1.mp3");
    myMusic.play();

    function sound(src) {
        this.sound = document.createElement("audio");
        this.sound.src = src;
        this.sound.setAttribute("preload", "auto");
        this.sound.setAttribute("controls", "none");
        this.sound.style.display = "none";
        document.body.appendChild(this.sound);
        this.play = function() {
            this.sound.play();
        }
        this.stop = function() {
            this.sound.pause();}
        }
    </script>
{% endblock %}
