{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
<div class="title">
    <h1>The Wildest Match </h1>
</div>
    <div class="questionReponsePlayer">
        <div class="questionRandomPlayer">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card-body" id="cardBodyPlayer">
                        <h5 class="card-header">Question </h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="reponseChoice">
            <div class="list-group">
                {% for answer in randAnswers %}
                <a href="#" class="list-group-item list-group-item-action">{{ answer.titlegit }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
