{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
    <div class="title">
        <h1>The Wildest Match </h1>
    </div>
    <div class="questionRandom">
        <div class="row">
            <div class="col-sm-6">
                    <div class="card-body" >
                        <h5 class="card-header">Question Aléatoire</h5>
                        <p class="card-text" id="btn-start">{{ randQuestion[0].title }}</p>
                        <a href="#" class="btn btn-blueButton">Start Game</a>
                    </div>
            </div>
            <div class="createQuestion">
                <div class="col-sm-6">
                        <div class="card-body">
                            <h5 class="card-header">Crée ta question</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-blueButton">Start Game</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
