{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
    <div class="title">
        <h1>The Wildest Match </h1>
    </div>
    <div class="questionReponsePlayer">
        <div class="questionRandomPlayer">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card-body" id="cardBodyPlayer">
                        <h5 class="card-header">Question </h5>
                        <p class="card-text">
                            {{ randQuestion[0].title }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="reponseChoice">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">Reponse Joueur 1</a>
                <a href="#" class="list-group-item list-group-item-action">Reponse Joueur 2</a>
                <a href="#" class="list-group-item list-group-item-action">Reponse Joueur 3</a>
                <a href="#" class="list-group-item list-group-item-action " >Reponse Joueur 4</a>
                <a href="#" class="list-group-item list-group-item-action " >Reponse Joueur 5</a>
            </div>
        </div>
    </div>
    </div>
{% endblock %}