{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
    <div class="title">
        <h1>The Wildest Match </h1>
    </div>
    <div class="questionReponsePlayer">
        <div class="questionRandomPlayer">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card-body" id="cardBodyPlayer">
                        <h5 class="card-header">Question </h5>
                        <p class="card-text">
                            {% if results is not empty %}
                            {{ results[0].question.title }}
                            {% else %}
                                personne n'a répondu
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="reponseChoice">
            <div class="list-group">
                {% for result in results %}
                <div class="list-group-item list-group-item-action">{{ result.answer.title }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
