{% extends 'base.html.twig' %}

{% block title %}Winner{% endblock %}

{% block body %}
    <div class="title">
        <h1>The Wildest Match </h1>
    </div>
    <div>
        The winner is : {{ winner.name }}
    </div>
{% endblock %}
