@import 'variables.scss';
@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: 'Massenet';
    src: url("MassenetBold-Bold.otf");
}
/*Accueil GameMaster*/
body {
    background-color: #a8dadc;
}

//timer
.timerContainer {
    text-align: center;
}

#timer {
    display: inline-block;
    text-align: center;
    justify-content: center;
    margin: 0;
    font-size: 50px;
    height: 70px;
    width: 500px;
    font-family: 'Massenet', sans-serif;
}

.questionRandom {
    text-align: center;
    padding-top: 20px;
}

.createQuestion {
    padding-top: 200px;
}

.col-sm-6 {
    padding: 0;
}
.card-body {
    padding-left: 30px;
    border: black solid;
    background-color: #f1faee ;
    margin-top: 50px;
}

.title {
    text-align: center;
    font-family: 'Massenet';
}

/*Choix joueur*/

.reponseChoice {
    padding-top: 50px;
}
.list-group-item.list-group-item-action {
    margin-top: 20px;
}

@media (min-width: 400px) {
    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 300px;
        height: 400px;
        margin: 40px;
        border-radius: 10px;
    }
    .createQuestion {
        padding-top: 0px;
    }
    .questionRandom {
        display: flex;
        justify-content: center;
        padding-top: 100px;
    }
    .questionReponsePlayer {
        display: flex;
        padding-top: 80px;
        justify-content: space-around;
    }
    #cardBodyPlayer.card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .list-group {
        display: flex;
        flex-direction: row;
        flex: 2;
        height: 350px;
    }
    .list-group-item.list-group-item-action {
        margin-left: 40px;
        width: 210px;
    }
    .reponseChoice {
        padding-top: 50px;
    }

    #resultAnswer.list-group-item.list-group-item-action {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    //.buttonLogo {
    //
    //}
    //.buttonLogo:hover {
    //    background-color: #B0413E;
    //}
  .container {
    position: relative;
    width: 20%;
      margin-top: 20px;
  }
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #008CBA;
    }

    .container:hover .overlay {
        opacity: 1;
    }

    .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    #image {
        display: block;
        width: 100%;
        height: auto;

    }
    #textWinner.card.col-3.mx-auto {
        margin-top: 20px;
        max-width: fit-content;
    }
    #titleWinner {
        font-family: 'Massenet';
    }
    .card-header {
        font-family: 'Massenet';
    }
    #playerAnswer {
        border: black solid 2px;
        border-radius: 5px;
    }
    #resultAnswer {
        border: black solid 2px;
        border-radius: 5px;
    }
    #btn-start {
        font-family: 'Massenet';
    }
    .pseudo {
        font-family: 'Massenet';
    }

}

/*Login*/
.login-form {
    text-align: center;
}

.btn-signin {
    margin: auto;
}

/*winner*/

